<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
	<li role="menuitem"><a ui-sref=".Nurse_Assistant_Training_Program">Nurse Assistant Training Program</a></li>
	<li role="menuitem"><a ui-sref=".Home_Health_Aid_Training_Program">Home Health Aid Training Program</a></li>
	<li role="menuitem"><a ui-sref=".Security_Guard_Training_Program">Security Guard Training Program</a></li>
	<li role="menuitem"><a ui-sref=".CPR_BLS_HSFA_Program">CPR BLS HSFA for HealthCare Providers</a></li>
	<li role="menuitem"><a ui-sref=".English_Program">English Second Language Program</a></li>
	<li role="menuitem"><a ui-sref=".Acupuncture_CEU_Program">Acupuncture CEU Program</a></li>
</ul>