<div class="col-md-8">
	<h1 class="text-center" style="color: Orange"><strong>ACUPUNCTURE CEU CLASS</strong></h1>
		<h2 class="text-center" style="color: Gray">Our school will regularly offer six types of Acupuncture CEU courses:</h2>
			<ol>
				<li> Advanced Tui Na Techniques (Chinese Massage) [95 hours]</li>
				<li>Professional Ethics and Business Practice, Clinic Management and Marketing [12 hours]</li>
				<li>Advanced Ear, Hand and Foot Reflexology combined with Acupuncture Treatment [54 hours]</li>
				<li>Ancillary Therapies combined with Acupuncture Treatment [19 hours]</li>
				<li>The basic principles for prescription and selection points [34 hours]</li>
				<li>Qi-gong-breathing exercise [36 hours]</li>
			</ol>
</div>