<div ng-controller="AboutCtrl">
	<h1 class="text-center" style="color: Orange"><strong>About Us</strong></h1>
	<img class="img-responsive" style="margin:0px auto;display:block" src="http://www.st-inst.com/images/logo.jpg">
		<h2 class="text-center" style="color: Gray">Our school is licensed by:</h2>
			<h4 class="text-center"><a href="http://www.bppe.ca.gov/">Bureau for Private Postsecondary Education</a></h4>
			<h4 class="text-center"><a href="https://app.dca.ca.gov/bppe/view-school.asp?schlcode=27091740">BPPE Approved Programs</a></h4>		
		<h2 class="text-center" style="color: Gray">Approved by:</h2>
			<h4 class="text-center"><a href="http://www.cdph.ca.gov/Pages/DEFAULT.aspx">California Department of Public Health</a></h4>
			<h4 class="text-center"><a href="http://www.heart.org/HEARTORG/">American Heart Association</a></h4>
			<h4 class="text-center"><a href="http://www.dca.ca.gov/">California Department of Consumer Affairs</a></h4>
			<h4 class="text-center"><a href="https://wioa.i-train.org/">Listed as a training provider under the I-train</a></h4>
		<h2 class="text-center" style="color: Gray">Annual Report 2015, School Catalog and Performance Fact Sheet</h2>
		<!-- the following can be placed in an modal service -->
		<h4><em>**PLEASE DISABLE YOUR ADBLOCK, OR ADD ST-INST.COM TO YOUR WHITE LIST ON YOUR AD BLOCK TO VIEW/DOWNLOAD THE FOLLOWING DOCUMENTS**</em></h4>
		<!-- This sends is linked with ng click with this particular path after app/About as a parameter -->
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/School_Catalog/')">Click here to download the School Catalog</button></h4>
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/CNA_FactSheet/')">Click here to download the Nurse Assistant Program Performance Fact Sheet</button></h4>
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/HHA_FactSheet/')">Click here to download the Home Health Aide Program Performance Fact Sheet</button></h4>
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/SG_FactSheet/')">Click here to download the Security Guard Program Performance Fact Sheet</button></h4>
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/ESL_FactSheet/')">Click here to download the ESL Program Performance Fact Sheet</button></h4>
			<!-- Last button does not work, the PDF wont load need to be fixed!! -->
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/Annual_Report/')">Click here to download the Anuual Report</button></h4>
</div>