<div class="row">
	<div class="col-md-2" id="leftContent">
		Hello World from HHA Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>40 hour Home Health Aid Training Program</strong></h1>
		<h2 class="text-center" style="color: Gray">Get your Home Health Aide Certificate today and improve your employment options!!!</h2>
		<h3 class="text-center" style="color: blue">More Flexible</h3><br>
		<h3 class="text-center" style="color: yellow">More Qualified</h3><br>
		<h3 class="text-center" style="color: purple">Better Pay</h3><br>
		<h3 class="text-center" style="color: green">Twenty six (26) of the forty (40-hour) training program may count towards CEUs.</h3><br>
		<h3 class="text-center" style="color: gray">Please call 626-572-7231 for more information.</h3><br>
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from HHA right content
	</div>
</div>


