<div lang="zh-Hant" class="col-md-8">
	<h1 class="text-center" style="color: Orange"><strong>心肺复苏CPR培訓</strong></h1>
		<h2 class="text-center" style="color: Gray">心脑肺复苏CPR培訓</h2>
			<ul>
				<li>美國心臟協會認可培訓中心</li>
				<li>醫務工作者及按摩工作開店必備</li>
				<li>中文授課並可當天發證</li>
				<li>彈性上課時間及小班教學</li>
				<li>收費合理2年有效全美通用</li>
			</ul>
		<h2 class="text-center" style="color: grey">請預約: 626-572-7231 也芮職業培訓學院</h2>
		<h2 class="text-center" style="color: grey">2209 N. San Gabriel Blvd, Ste C, Rosemead, CA 91770</h2>
		<h3 class="text-center"><em>周一至周五早上9點至5點</em></h3>
		<img src="http://i44.tinypic.com/91gvm1.jpg">
	
</div>