<div lang="zh-Hant" class="col-md-8">
	<h1 class="text-center" style="color: Orange"><strong>護士助理執照培訓班</strong></h1>
		<h2 class="text-center" style="color: Gray">成為一名護士助理...</h2>
			<ul>
				<li>9-11周短期培訓</li>
				<li>學費低廉</li>
			</ul>
			<p>
				「也芮職業培訓學院」
			</p><br>
			<p>
				也芮職業培訓學院表示，他們的護士助理課程，由加州衛生部及教育局註冊並批准，學生接受9-11周培訓包括醫院實習，並通過加州護理部考試後，獲發州衛生部頒發的護士助理資格證書。
			</p><br>
			<p>
				該校的上百名畢業生經由學校免費推薦介紹到醫院，療養院，診所或家庭高端護理工作。此工作穩定、福利佳、就業率高。
			</p><br>
			<p>
				該校表示，經過專業培訓後，學生將會熟練掌握護士助理的專業知識和技術，其中包括各種病人生命體征的測試、病例記錄和日常生活活動的護理、和對病人心理輔導等。
			</p><br>
			<p>
				此課程為大學註冊護士的必修基礎課，並且经过多年工作經驗後也可晉級考取職業護士，收入可觀。該校有教學經驗豐富的美國護士老師授課，並由中文老師輔導，免費提供學生在校實驗室練習技巧，執照過考率和就業率都近百分百。
			</p><br>
			<p>
				歡迎正在尋找護士職業及有望踏入基础医疗领域的朋友们免費試聽，詳情可電626-572-7231查詢。也芮職業培訓學院地址2209 N. San Gabriel Blvd Suite C，Rosemead，網址http://www.st-inst.com。該院設為美國心臟協會的CPR心肺急救證書培訓中心，是醫務人員工作及申請執照的必修課。
			</p>
		<h2 class="text-center" style="color: Gray">什麼是執照護士助理? 他們在哪里工作?</h2>
			<p>
				認証護士助理，簡稱護士助理，是直接提供病人日常生活幫助的醫療看護士。護士助理的主要工作包括測量生命信息（呼吸頻率，脈搏，體溫以及血壓），洗浴，如廁，喂食，更衣，輔助行走，安撫病人情緒以及傾聽病人的傾訴。
				作為一個護士助理，您可以選擇在療養院，康復中心，醫院，成年人日間活動中心長期看護中心，臨終看護中心以及家庭看護工作。因為病人長期需要護士助理的幫助，您可以保証一份幾年甚至幾十年的穩定工作。護士助理是護理團隊中重要的一个組成部分，他是病人正護士之間的聯繫橋樑。任何一個洲都要求護士有一个護士助理在其指導下工作。
			</p><br>
		<h2 class="text-center" style="color: Gray">護士助理起薪為</h2>
			<p>
				全美的護士助理平均起始年薪为26,000美元而且有著級佳的工作待遇
			</p>
		<h2 class="text-center" style="color: Gray">您會在執照護士助理課程中學到什麼?</h2>
			<p>
				通常在護士助理課程您將會學到醫學概念以及實際操作技巧。課堂中教學將會集中於理論課程而實習課程將會注重於實際操作經驗。
			</p>
			<p>
				下面是一些您將為在完成護士助理課程時學習到的要素:
			</p>
			<ul>
				<li>如何給各年齡的成年人提供基礎看護</li>
				<li>各種確認病人安全的方法</li>
				<li>預防並控制您以及您的病人遠離感染</li>
				<li>正確的人體工學以及移動技巧以預防受傷</li>
				<li>有效地交流</li>
				<li>如何輔助您的病人進行日常生活</li>
				<li>不同病況的病人所需要的最佳喂食技巧</li>
				<li>長期看護中心成人所面臨的主要健康隱患</li>
				<li>心臟復甦法以及生命急救法</li>
				<li></li>
				<li>測量生命信息</li>
				<li>移動以及輔助病人行走的技巧</li>
				<li>基礎洗浴技能</li>
				<li>正確的病人病歷填寫以及病人匯報</li>
			</ul>
		<h2 class="text-center">協助介紹工作，醫院&護理站，市場急需！工作穩定福利佳</h2>
		<h3 class="text-center"><em>臨床實習</em></h3>
		<img src="http://i57.tinypic.com/246nckk.jpg">
</div>