<!-- Initiated programDropdown Controller -->
			<div class="col-xs-10" ng-controller="ProgramsDropdownCtrl">
				<ul class="nav nav-pills">
					<li role ="presentation"><a ui-sref=".Home">Home</a></li>
					<li role ="presentation"><a ui-sref=".Class_Schedule">Class Schedule</a></li>
						<!-- Programs Dropdown Menu -->
					<li role ="presentation" class="btn-group" uib-dropdown><a id="button-template-url" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">Programs</a>
					<!-- This is the drop down menu, points to the template url, for further encapsulation -->
						<ul class="dropdown-menu" uib-dropdown-menu template-url="app/Programs/view/english/ProgramsDropdown/ProgramsDropdown.html" aria-labelledby="button-template-url">
						</ul>
					</li>
					<li role ="presentation"><a ui-sref=".About">About Us</a></li>
					<li role ="presentation"><a ui-sref=".Contact_Us">Contact Us</a></li>
				</ul>
			</div>
			<!-- Initiated User Dropdown Controller -->
			<div class="col-xs-2" ng-controller="userDropdownCtrl">
			    <div class="btn-group" uib-dropdown>
			      <button id="button-template-url" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
			      	<span class="glyphicon glyphicon-user"></span>
			      </button>
			      <!-- User Dropdown Menu -->
			      <ul class="dropdown-menu" uib-dropdown-menu template-url="app/userDropdown/view/english/userDropdown.html" aria-labelledby="button-template-url">
			      </ul>
			    </div>
			</div>