<header class="container-fluid" id="header">
		<div class="row">
			<div class="col-xs-10" ui-view="header">
				<h1 style="font-family: cursive">Select Therapy Institute</h1>
			</div>
			<div class="col-xs-2">
				<h3><button class="btn btn-link" ui-sref="english" href="#english">English</button><button class="btn btn-link" ui-sref="chinese">Chinese</button></h3>
			</div>
		</div>
	<!-- Main Top Navigation -->
	<!-- and all of the nav elements needs to have a ui-sref of English.Home, or Chinese.About etc.. -->
		<div class="row" ui-view="mainNav">
		</div>
</header>