<div>
	<h1 class="text-center" style="color: Orange"><strong>BLS/CPR FOR HEALTHCARE PROVIDERS</strong></h1>
		<h2 class="text-center" style="color: Gray">American Heart Association 2-year certification</h2>
			<ul>
				<li>BLS for healthcare providers</li>
				<li>Heartsaver First Aid CPR+AED</li>
				<li>English+Chinese speaking instructor</li>
				<li> Same day certification</li>
				<li>Individual and small classes available</li>
			</ul>
		<h2 class="text-center" style="color: grey">Classes by appointment only</h2>
		<h2 class="text-center" style="color: grey">Monday-Friday: 9:00 am-5:00 pm</h2>
		<h3 class="text-center"><em>please call: 626-572-7231</em></h3>
		<img src="http://i44.tinypic.com/91gvm1.jpg">
	
</div>