<div lang="zh-Hant" class="col-md-8">
	<h2 class="text-center">目前項目</h2>
		<p>
			護士助理培訓班CNA護士助理執照10月11日白班正在招生中，報名學生可參加周一、二、三的免費英文輔導，同時歡迎報名咨詢和課程預約試聽。學校可幫助學生申請助學貸款，18-24歲或領失業金者可申請政府補助！位置有限，欲報從速。
		</p>
		<p>
			警衛保安執照課程本即将開課，美國警官授課，小班教學，中文輔導，拿到保安執照，學校免費介紹工作！
		</p>
		<p>
			由於名額有限，請儘快報名！歡迎免費試聽。
		</p>
	<h2 class="text-center">學生點評</h2>
 		<p>
			學生點評請點擊瀏覽 <a href="http://www.chineseinla.com/company/task_view/id_20345.html">華人資訊網點評</a>
 		</p>
 	<h2 class="text-center">經濟支援</h2>
 		<p>
			失業者可申請政府資助，18-24歲年輕人可申請政府資助學費。需有綠卡或公民，懂基礎英文。
 		</p>
 		<p>
			如有任何問題，請撥辦公室電話: (626)572-7231
		</p>
</div>