<!-- HOME PAGE -->
<div id="PreviousHomeSection">
<!--
	<div class="row" id="mainPicContent">
		<img src="http://www.st-inst.com/templates/Original/images/english/header.jpg" class="img-responsive, center-block">
	</div>
-->
	<div class="row">
		<div class="col-md-2" id="leftContent">
				Hello World from Left Content
		</div>
		<div class="col-md-8">
			<h2 class="text-center">Current Offer</h2>
				<p> CNA day class is enrolling now and will start on September 27th. For more information, please call 626-572-7231,9am-5pm on Monday-Thursday and 9am-4pm on Friday. We welcome all prospective students to come and check out our upcoming class, and the services we offer. CNA Classes are only 8 weeks long. Free job placement after passing State Exam. Not many seats left! Sign up as soon as possible.
				</p>
			<h2 class="text-center">Student Reviews</h2>
	 			<p>
				For student reviews, please visit <a href="http://www.chineseinla.com/company/task_view/id_20345.html">Chinese In LA Review</a>
	 			</p>
	 		<h2 class="text-center">Financial Assistance</h2>
	 			<p>
				Please call (626)572-7231 for more information.
				Students aged between 18-24 might be eligible for financial assistance. Please contact the admissions office.
				</p>
		</div>
		<div class="col-md-2" id="rightContent">
				Hello World From right content
		</div>
	</div>
</div>
<!-- /END OF PREVIOUS HOME PAGE -->
<div class="row" id="classScheduleSection">
	<div class="col-md-2" id="leftContent">
		Hello World from class schedule Left Content
	</div>
	<div class="col-md-8">
		<h2 class="text-center">Nurse Assistant Program</h2>
			<ol>
				<li><p>
					Day classes (9 weeks) for the Nurse Assistant course are Tuesday through Friday from 9:00 am -1:00 pm. Additionally, 13 days of clinical training will be required. Hours of clinical training are Thursday through Saturday 7:00 am -3:30pm.
				</p></li>
				<li><p>
					Evening classes (9 weeks) for the Nurse Assistant course are Tuesday and Thursday evenings from 5:00 pm-9:00 pm with Weekend clinical training from 7:00 am-3:30 pm.
				</p></li>
			</ol>
		<h2 class="text-center">Home Health Aide</h2>
 			<p>
			Home Health Aide classes (40 clock hours) are 20 hours of classroom study and 20 hours of clinical training.
 			</p>
 		<h2 class="text-center">Security Guard</h2>
 			<p>
			Security Guard program entails 40 hours of training session. Online Classes Coming soon...
			</p>
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from Class Schedule right content
	</div>
</div>
<!-- /END OF CLASS SCHEDULE -->
<div class="row" id="CNAProgramDescriptionSection">
	<div class="col-md-2" id="leftContent">
		Hello World from CNA Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>Nurse Assistant Program</strong></h1>
		<h2 class="text-center" style="color: Gray">Be a Certified Nurse Assistant after completion of the program and passing the state exam</h2>
		<ul>
			<li>High School Diploma/GED required</li>
			<li>Evening class with weekend clinic</li>
			<li>Day class with weekday clinic</li>
			<li>Reasonable tuition</li>
			<li>Easy payment plan</li>
		</ul>
		<h2 class="text-center">Earn Stable Salary + Good Benefits in a growing industry.</h2>
		<h3 class="text-center"><em>CLINICAL PRACTICE</em></h3>
		<img src="http://i57.tinypic.com/246nckk.jpg">
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from CNA right content
	</div>
</div>
<!-- /END OF CNA PROGRAM DESCRIPTION -->
<div class="row" id="HHAProgramDescriptionSection">
	<div class="col-md-2" id="leftContent">
		Hello World from HHA Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>40 hour Home Health Aid Training Program</strong></h1>
		<h2 class="text-center" style="color: Gray">Get your Home Health Aide Certificate today and improve your employment options!!!</h2>
		<h3 class="text-center" style="color: blue">More Flexible</h3><br>
		<h3 class="text-center" style="color: yellow">More Qualified</h3><br>
		<h3 class="text-center" style="color: purple">Better Pay</h3><br>
		<h3 class="text-center" style="color: green">Twenty six (26) of the forty (40-hour) training program may count towards CEUs.</h3><br>
		<h3 class="text-center" style="color: gray">Please call 626-572-7231 for more information.</h3><br>
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from HHA right content
	</div>
</div>
<!-- /END OF HHA PROGRAM DESCRIPTION -->
<div class="row" id="SGProgramDescriptionSection">
	<div class="col-md-2" id="leftContent">
		Hello World from sg Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>SECURITY GUARD TRAINING</strong></h1>
		<h2 class="text-center" style="color: Gray">WANT TO BE A SECURITY GUARD?</h2>
		<h3 style="color: grey">12% Employment Increase</h3>
		<h3 style="color: grey">From 2010 to 2020</h3>
		<h3 style="color: grey"><em>(Projection from Bureau of Labor Statistics)</em></h3><br>
		<h3 style="color: grey">Let ST Institute helps to make your dream come true!</h3>
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from sg right content
	</div>
</div>
<!-- /END OF SG PROGRAM DESCRIPTION -->
<div class="row" id="CPRProgramDescriptionSection">
	<div class="col-md-2" id="leftContent">
		Hello World from CPR Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>BLS/CPR FOR HEALTHCARE PROVIDERS</strong></h1>
		<h2 class="text-center" style="color: Gray">American Heart Association 2-year certification</h2>
			<ul>
				<li>BLS for healthcare providers</li>
				<li>Heartsaver First Aid CPR+AED</li>
				<li>English+Chinese speaking instructor</li>
				<li> Same day certification</li>
				<li>Individual and small classes available</li>
			</ul>
			<h2 class="text-center" style="color: grey">Classes by appointment only</h2>
			<h2 class="text-center" style="color: grey">Monday-Friday: 9:00 am-5:00 pm</h2>
			<h3 class="text-center"><em>please call: 626-572-7231</em></h3>
			<img src="http://i44.tinypic.com/91gvm1.jpg">
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from CPR right content
	</div>
</div>
<!-- /END OF CPR PROGRAM DESCRIPTION -->
<div class="row" id="ESLProgramDescriptionSection">
	<div class="col-md-2" id="leftContent">
		Hello World from English Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>ENGLISH FOR SPEAKERS OF OTHER LANGUAGES</strong></h1>
		<h2 class="text-center" style="color: Gray">We provide Intensive English Programs and Test Preparation Programs</h2><br>
		<h2 class="text-center" style="color: Gray">Higher chance of being hired because you are bilingual and higher pay increase (most jobs)</h2><br>
		<h2 class="text-center" style="color: Gray">REASONABLE-TUITION</h2><br>
		<h2 class="text-center" style="color: Gray">EASY PAYMENT PLAN</h2><br>
		<h2 class="text-center" style="color: Gray">For information please call (626)-572-7231</h2><br>
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from English right content
	</div>
</div>
<!-- /END OF ESL PROGRAM DESCRIPTION -->
<div class="row" id="ACU_CEUProgramDescriptionSection">
	<div class="col-md-2" id="leftContent">
		Hello World from ACUCEU Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>ACUPUNCTURE CEU CLASS</strong></h1>
		<h2 class="text-center" style="color: Gray">Our school will regularly offer six types of Acupuncture CEU courses:</h2>
		<ol>
			<li> Advanced Tui Na Techniques (Chinese Massage) [95 hours]</li>
			<li>Professional Ethics and Business Practice, Clinic Management and Marketing [12 hours]</li>
			<li>Advanced Ear, Hand and Foot Reflexology combined with Acupuncture Treatment [54 hours]</li>
			<li>Ancillary Therapies combined with Acupuncture Treatment [19 hours]</li>
			<li>The basic principles for prescription and selection points [34 hours]</li>
			<li>Qi-gong-breathing exercise [36 hours]</li>
		</ol>
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from acu ceu right content
	</div>
</div>
<!-- /END OF ACU CEU PROGRAM DESCRIPTION -->
<div class="row" id="aboutSection" ng-controller="AboutControl as AboutCtrl">
	<div class="col-md-2" id="leftContent">
		Hello World from About Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>About Us</strong></h1>
		<img class="img-responsive" style="margin:0px auto;display:block" src="http://www.st-inst.com/images/logo.jpg">
			<h2 class="text-center" style="color: Gray">Our school is licensed by:</h2>
				<h4 class="text-center"><a href="http://www.bppe.ca.gov/">Bureau for Private Postsecondary Education</a></h4>
				<h4 class="text-center"><a href="https://app.dca.ca.gov/bppe/view-school.asp?schlcode=27091740">BPPE Approved Programs</a></h4>		
			<h2 class="text-center" style="color: Gray">Approved by:</h2>
				<h4 class="text-center"><a href="http://www.cdph.ca.gov/Pages/DEFAULT.aspx">California Department of Public Health</a></h4>
				<h4 class="text-center"><a href="http://www.heart.org/HEARTORG/">American Heart Association</a></h4>
				<h4 class="text-center"><a href="http://www.dca.ca.gov/">California Department of Consumer Affairs</a></h4>
				<h4 class="text-center"><a href="https://wioa.i-train.org/">Listed as a training provider under the I-train</a></h4>
			<h2 class="text-center" style="color: Gray">Annual Report 2015, School Catalog and Performance Fact Sheet</h2>
		<!-- the following can be placed in an modal service -->
			<h4><em>**PLEASE DISABLE YOUR ADBLOCK, OR ADD ST-INST.COM TO YOUR WHITE LIST ON YOUR AD BLOCK TO VIEW/DOWNLOAD THE FOLLOWING DOCUMENTS**</em></h4>
		<!-- This sends is linked with ng click with this particular path after app/About as a parameter -->
				<h4 class="text-center"><button type="button" class="btn" ng-click="AboutCtrl.openPDF('/School_Catalog/')">Click here to download the School Catalog</button></h4>
				<h4 class="text-center"><button type="button" class="btn" ng-click="AboutCtrl.openPDF('/CNA_FactSheet/')">Click here to download the Nurse Assistant Program Performance Fact Sheet</button></h4>
				<h4 class="text-center"><button type="button" class="btn" ng-click="AboutCtrl.openPDF('/HHA_FactSheet/')">Click here to download the Home Health Aide Program Performance Fact Sheet</button></h4>
				<h4 class="text-center"><button type="button" class="btn" ng-click="AboutCtrl.openPDF('/SG_FactSheet/')">Click here to download the Security Guard Program Performance Fact Sheet</button></h4>
				<h4 class="text-center"><button type="button" class="btn" ng-click="AboutCtrl.openPDF('/ESL_FactSheet/')">Click here to download the ESL Program Performance Fact Sheet</button></h4>
				<h4 class="text-center"><button type="button" class="btn" ng-click="AboutCtrl.openPDF('/Annual_Report/')">Click here to download the Anuual Report</button></h4>
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from About right content
	</div>
</div>
<!-- /END OF ABOUT -->
<div class="row" id="contactUsSection" ng-controller="contactUsControl as contactUsCtrl">
	<div class="col-md-2" id="leftContent">
		Hello World from contact Left Content
	</div>
	<div class="col-md-8">
		<h1 class="text-center" style="color: Orange"><strong>Contact Us</strong></h1>
			<h2 class="text-center" style="color: Gray">STI</h2>
				<h4 class="text-center">2209 N. San Gabriel Blvd. Suite C</h4>
				<h4 class="text-center">Rosemead, CA 91770 </h4>
				<h4 class="text-center" style="color: Red">Tel: 626-572-7231   Fax: 626-572-7377</h4>
				<h4 class="text-center">Email: selecttherapyinstitute@gmail.com</h4><br>
				<p class="text-center">
					<a href="https://www.google.com/maps/place/2209+San+Gabriel+Blvd,+Rosemead,+CA+91770/@34.054739,-118.090539,16z/data=!4m5!3m4!1s0x80c2d0129bb02603:0x4fc57c4f4604caf8!8m2!3d34.0542246!4d-118.0908227?hl=en">
						Click here for directions
					</a>
				</p>
			<form class="text-center">
				Full Name: <input type="text" name="fullName" ng-model="contactUsCtrl.fullName"><br>
				E-Mail Address: <input type="text" name="emailAddress" ng-model="contactUsCtrl.emailAddress"><br>
				Message: <br>
				<textarea rows="15" cols="100" ng-model="contactUsCtrl.message"></textarea><br>
				<button class="btn" ng-click="contactUsCtrl.sendMessage()"><span class="glyphicon glyphicon-send"></span></button>
			</form>
	</div>
	<div class="col-md-2" id="rightContent">
		Hello World from contact right content
	</div>
</div>
<!-- /END OF CONTACT US -->