<form class="form-horizontal"> <!--NO NEED TO DECLARE CONTROLLER, IT DIRECTLY INHERITS FROM MODAL DECLARATION IN SERVICE-->
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
        Please Enter the Program Details:
        <!-- modal title --></h3><br>


        <!-- MODAL HEADER -->

      <div class="alert alert-danger" ng-if="programAddModalInstanceCtrl.addProgram.showErrorMessage" ng-repeat="message in programAddModalInstanceCtrl.addProgram.errMessages track by $index">
         {{message}}
       </div>
    </div>
    <div class="modal-body" id="modal-body">


    <!-- MODAL BODY -->
   <!--  PROGRAM DETAILS: 
    PROGRAM NAME: 
    PROGRAM ROTATION: 
    PROGRAM START DATE: 
    PROGRAM END DATE: 
    PROGRAM COST: 
    PROGRAM COST PAID:
    PROGRAM GRADUATE:
    PROGRAM NOT GRADUATE REASON: 
    PROGRAM EXAM INFO:
    PROGRAM EXAM NO PASS REASON: 
    PROGRAM EXAM NUMBER OF TRIES: 
    PROGRAM JOB PLACEMENT: 
    PROGRAM JOB PLACEMENT INFO:
    PROGRAM JOB NO PLACEMENT REASON:  -->
      <form>
        <div class="form-group row">
          <label class="control-label col-md-2">Program Name:</label>
          <div class="col-md-9">
            <select class="form-control" ng-model="programAddModalInstanceCtrl.addProgram.programName" class="form-control">
              <option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
              <option value="CNA">Certified Nurse Assistant</option>
              <option value="HHA">Home Health Aide</option>
              <option value="RNA">Restorative Nurse Assistant</option>
              <option value="SG">Security Guard</option>
              <option value="Caregiver">Caregiver</option>
              <option value="ESOL">ESOL</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Program Rotation:</label>
          <div class="col-md-9">
            <input class="form-control" type="number" ng-model="programAddModalInstanceCtrl.addProgram.programRotation">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Program Start Date:</label>
          <div class="col-md-9">
            <input  type="text" 
                    class="form-control" 
                    masked-input
                    target-mask="99/99/9999"
                    mask-options='{"placeholder": "mm/dd/yyyy"}' 
                    name="programStartDate" 
                    placeholder="Enter Program's Start Date" 
                    ng-model="programAddModalInstanceCtrl.addProgram.programStartDate">
          </div>
        </div>
        <div class="form-group row">
        <label class="control-label col-md-2">Program End Date:</label>
          <div class="col-md-9">
            <input type="text" 
                    class="form-control" 
                    masked-input
                    target-mask="99/99/9999"
                    mask-options='{"placeholder": "mm/dd/yyyy"}' 
                    name="programEndDate" 
                    placeholder="Enter Program's End Date"
                    ng-model="programAddModalInstanceCtrl.addProgram.programEndDate">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Program Tuition:</label>
          <div class="col-md-9">
            <input class="form-control" type="number" ng-model="programAddModalInstanceCtrl.addProgram.programTuition">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Payment Status:</label>
          <div class="col-md-9">
            <select class="form-control" ng-model="programAddModalInstanceCtrl.addProgram.tuitionPaid" name="tuitionPaid">
              <option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
              <option value="true">Paid</option>
              <option value="">Did not finish Payment (Please check the payment spreadsheet)</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Graduate Status:</label>
          <div class="col-md-9">
              <select class="form-control" ng-model="programAddModalInstanceCtrl.addProgram.graduate" name="graduate">
                <option disabled value="noneSelected"> -- Select an Option -- </option>
                <option value="">Student</option>
                <option value="true">Alumni</option>
              </select>
          </div>
        </div>
        <div class="form-group row">
        <label class="control-label col-md-2">Reason for Not Graduating:</label>
          <div class="col-md-9">
            <select class="form-control" ng-model="programAddModalInstanceCtrl.addProgram.notGraduatingReason" name="notGraduatingReason">
              <option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
              <option value="Still_in_program">Still in the program</option>
              <option value="Dropped_the_program">Dropped</option>
              <option value="Missing_clinical_hours">Did not finish clinical</option>
              <option value="Missing_theory_hours">Did not finish theory</option>
              <option value="Did_not_finish_payment">Did not finish payment</option>
              <option value="N/A">N/A</option>  <!-- if the student is graduated, then its option N/A -->
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Passed Certification Exam?</label> 

<!--*******************************************
NOTE: var a = Boolean('anyStringResolvesToTrue') 
          a = true;


****************************************/
-->

          <div class="col-md-9">
            <select class="form-control" ng-model="programAddModalInstanceCtrl.addProgram.passedExam" name="passedExam">
              <option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
              <option value="true">Yes</option>
              <option value="">No</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2" for="numberOfTries">How Many Tries it took?</label>
          <div class="col-md-9">
            <select ng-model="programAddModalInstanceCtrl.addProgram.numberOfTries" name="numberOfTries" class="form-control">
              <option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
              <option value="1">1st Try</option>
              <option value="2">2nd Try</option>
              <option value="3">3rd Try</option>
              <option value="N/A">N/A</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
        <label class="control-label col-md-2">Reason for Not Passing:</label>
          <div class="col-md-9">
            <select class="form-control" ng-model="programAddModalInstanceCtrl.addProgram.noPassReason" name="noPassReason">
              <option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
              <option value="Have_not_taken_exam">Have not taken the exam</option>
              <option value="There_is_no_certification_exam">There is no certification exam</option>
              <option value="Failed_theory">Failed Theory</option>
              <option value="Failed_skills">Failed Skills</option>
              <option value="N/A">N/A</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2" for="jobPlaced">Employment Status:</label>
          <div class="col-md-9">
            <select ng-model="programAddModalInstanceCtrl.addProgram.jobPlaced" name="jobPlaced" class="form-control">
              <option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
              <option value="true">Employed</option>
              <option value="">Unemployed</option>
            </select>
          </div>  
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2" for="payRate">Pay Rate:</label>
          <div class="col-md-9">
            <input type="text" ng-model="programAddModalInstanceCtrl.addProgram.payRate" class="form-control" name="payRate" placeholder="Enter Student's Pay Rate. Please type N/A if student is currently unemployed">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2" for="JobInfo">Employer:</label>
          <div class="col-md-9">
            <input type="text" ng-model="programAddModalInstanceCtrl.addProgram.placeOfEmployment" class="form-control" name="placeOfEmployment" placeholder="Enter Student's Place of Employment. Please type N/A if student is currently unemployed">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2" for="employerAddress">Employer Address:</label>
          <div class="col-md-9">
            <input type="text" ng-model="programAddModalInstanceCtrl.addProgram.employerAddress" class="form-control" name="employerAddress" placeholder="Enter the Employer's Address. Please type N/A if student is currently unemployed">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2" for="jobPosition">Job Position:</label>
          <div class="col-md-9">
            <input type="text" ng-model="programAddModalInstanceCtrl.addProgram.jobPosition" class="form-control" name="jobPosition" placeholder="Enter the student's position. Please type N/A if student is currently unemployed">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2">Fulltime/Parttime Status:</label>
          <div class="col-md-9">
            <select ng-model="programAddModalInstanceCtrl.addProgram.weeklyWorkHours" name="jobPlaced" class="form-control">
              <option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
              <option value="FT">Full time</option>
              <option value="PT">Part time</option>
              <option value="N/A">N/A</option>
            </select>
          </div>  
        </div>
        <div class="form-group row">
          <label class="control-label col-md-2" for="payRate">Reason for Unemployment:</label>
          <div class="col-md-9">
            <input type="text" ng-model="programAddModalInstanceCtrl.addProgram.unemploymentReason" class="form-control" name="payRate" placeholder="Enter Student's Reason for unemployment">
          </div>
        </div>
      </form>




<!-- 

**********************************************************
ADDDDDD STUFFFFF 
**********************************************************
-->
    </div>

    <div class="modal-footer">
      <button class="btn" ng-click="programAddModalInstanceCtrl.dummyData()">Dummy Data</button>
      <button class="btn" ng-click="programAddModalInstanceCtrl.okModal()">Ok</button>
      <button class="btn" ng-click="programAddModalInstanceCtrl.cancelModal()">Cancel</button>

    </div>
</form>