<form class="form-horizontal"> <!--good habit of declaring the controller-->
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title"><!-- modal title --></h3><br>


        <!-- MODAL HEADER -->


    </div>
    <div class="modal-body" id="modal-body">


    <!-- MODAL BODY -->
   <!--  PROGRAM DETAILS: 
    PROGRAM NAME: 
    PROGRAM ROTATION: 
    PROGRAM START DATE: 
    PROGRAM END DATE: 
    PROGRAM COST: 
    PROGRAM COST PAID:
    PROGRAM GRADUATE:
    PROGRAM NOT GRADUATE REASON: 
    PROGRAM EXAM INFO:
    PROGRAM EXAM NO PASS REASON: 
    PROGRAM EXAM NUMBER OF TRIES: 
    PROGRAM JOB PLACEMENT: 
    PROGRAM JOB PLACEMENT INFO:
    PROGRAM JOB NO PLACEMENT REASON:  -->
      <form>
        <label>Program Name:</label>
        <select ng-model="admin_add_ctrl.programName">
          <option value="CNA">Certified Nurse Assistant</option>
          <option value="HHA">Home Health Aide</option>
          <option value="RNA">Restorative Nurse Assistant</option>
          <option value="SG">Security Guard</option>
          <option value="ESOL">ESOL</option>
        </select>
        <label>Program Rotation:</label>
        <input type="number" ng-model="admin_add_ctrl.programRotation">
        <label>Program Start Date:</label>
        <input type="text" ng-model="admin_add_ctrl.programStartDate">  <!-- THESE CAN BE USED WITH MASK INPUT -->
        <label>Program End Date:</label>
        <input type="text" ng-model="admin_add_ctrl.programEndDate">
      </form>

<!--       <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" ng-model="signInModalInstanceCtrl.email" class="form-control" name="email" id="email" placeholder="Enter email">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-10"> 
          <input type="password" ng-model="signInModalInstanceCtrl.password" class="form-control" name="password" id="pwd" placeholder="Enter password">
        </div>
      </div> -->



<!-- 

**********************************************************
ADDDDDD STUFFFFF 
**********************************************************
-->
    </div>

    <div class="modal-footer">



      <!-- MODAL FOOTER -->


      <!-- <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="signInModalInstanceCtrl.remember">Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" 
          ng-click="signInModalInstanceCtrl.ok(signInModalInstanceCtrl.email, signInModalInstanceCtrl.password, signInModalInstanceCtrl.remember)">Submit</button>
          <button type="cancel" class="btn btn-default" ng-click="signInModalInstanceCtrl.cancel()">Cancel</button>
        </div>
      </div> -->
      <button ng-click="admin_add_ctrl.okModal()">Ok</button>
      <button ng-click="admin_add_ctrl.cancelModal()">Cancel</button>

    </div>
</form>