<header class="container-fluid" id="header">
		<div class="row">
			<div class="col-xs-10">
				<h1 style="font-family: cursive"><span id="headerS">S</span>T Institute</h1>
			</div>
			<div class="col-xs-2">
				<h3>
					<button class="btn btn-link" ui-sref="school">
						Student
					</button><button class="btn btn-link" ui-sref="staff">
						Admin
					</button>
				</h3>
			</div>
		</div>
	<!-- Main Top Navigation -->
	<!-- encapsulated with its custom element -->
		<main-nav></main-nav>
</header>
