<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="button-template-url">
	<li role="menuitem" ng-controller="signInModalControl as signInModalCtrl" ng-if="!($root.currentUser)"><a style="cursor: pointer; cursor: hand;" ng-click="signInModalCtrl.openModal()">Sign In</a></li>
	<li role="menuitem" ng-controller="signUpModalControl as signUpModalCtrl" ng-if="!($root.currentUser)"><a style="cursor: pointer; cursor: hand;" ng-click="signUpModalCtrl.openModal()">Sign Up</a></li>
	<li role="menuitem" ng-controller="signOutControl as signOutCtrl" ng-if="$root.currentUser"><a style="cursor: pointer; cursor: hand;" ng-click="signOutCtrl.signOut()">Sign Out</a></li>
</ul>