<div id="adminAddForm" ng-controller="adminAddController as admin_add_ctrl">
	<form>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">  Please Enter the Student's Information :</h3>
				<br>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="enrollmentDate">Enrollment Date:</label>
			<div class="col-md-9">
				<input 	type="text" 
						masked-input
						target-mask="9999/99/99"
						mask-options='{"placeholder": "yyyy/mm/dd"}'
						ng-model="admin_add_ctrl.studentModel.enrollmentDate" 
						class="form-control" 
						name="enrollmentDate" 
						placeholder="Enter Student's Enrollment Date">
			
			</div> <!-- JUST NEED TO CONVERT THE STRING INTO DATE OBJECT BEFORE SENDING TO SERVER -->
		</div> 
		<div class="form-group row">
			<label class="control-label col-md-3" for="studentID">Student ID:</label>
			<div class="col-md-9">
				<input 	type="text" 
						masked-input
						target-mask="99-9999-aa"
						mask-options='{"placeholder": "R#-ddmm-FL"}'
						ng-model="admin_add_ctrl.studentModel.studentID" 
						class="form-control" 
						name="enrollmentDate" 
						placeholder="Enter Student ID">
			
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="name">First Name:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.firstName" class="form-control" name="name" placeholder="Enter Student's First Name">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="name">Last Name:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.lastName" class="form-control" name="name" placeholder="Enter Student's Last Name">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="phoneNumber">Phone Number:</label>
			<div class="col-md-9">
				<input type="text" 
						masked-input 
						target-mask="9999999999" 
						mask-options='{"placeholder": "*"}'
						ng-model="admin_add_ctrl.studentModel.phoneNumber" 
						class="form-control" 
						name="phoneNumber" 
						placeholder="Enter Student's Phone Number">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="ssn">Social Security Number:</label>
			<div class="col-md-9">
				<input type="text" 
						masked-input
						target-mask="999999999"
						mask-options='{"placeholder": "*"}'
						ng-model="admin_add_ctrl.studentModel.ssn" 
						class="form-control" 
						name="ssn" 
						placeholder="Enter Student's SSN">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="address">Address:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.address" class="form-control" name="address" placeholder="Enter Student's address">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="email">email:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.email" class="form-control" name="email" placeholder="Enter Student's email">
			</div>
		</div>
	<!-- /END OF STRING INPUTS -->
		<div class="form-group row">
			<label class="control-label col-md-9">Program:</label>
		</div>
		<div class="form-group row">
			<div style="display: inline;">
				<div class="col-md-2">
					<select ng-model="admin_add_ctrl.studentModel.program[0]['programName']" name="programName" class="form-control">
						<option disabled ng-selected="admin_add_ctrl.ngSelect('firstProgram')" value="noneSelected"> - Select 1st Program - </option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.programs[0]['CNA']" value="CNA">Certified Nurse Assistant</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.programs[0]['HHA']" value="HHA">Home Health Aide</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.programs[0]['SG']" value="SG">Security Guard</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.programs[0]['caregiver']" value="Caregiver">Caregiver</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.programs[0]['ESOL']" value="ESOL">ESOL</option>
					</select>
					<input type="text" ng-model="admin_add_ctrl.studentModel.program[0]['programRotation']" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 1st Program">
					<input type="text" 
							masked-input
							target-mask="99/99/9999"
							mask-options='{"placeholder": "mm/dd/yyyy"}'
							ng-model="admin_add_ctrl.studentModel.program[0]['programStartDate']" 
							class="form-control" 
							name="programStartDate" 
							placeholder="Enter 1st Program's Start Date">	
					<input type="text" 
							masked-input
							target-mask="99/99/9999"
							mask-options='{"placeholder": "mm/dd/yyyy"}'
							ng-model="admin_add_ctrl.studentModel.program[0]['programEndDate']" 
							class="form-control" 
							name="programEndDate" 
							placeholder="Enter 1st Program's End Date">	
				</div>
			</div>
				<div style="display: inline;">
					<div class="col-md-2">
						<select ng-model="admin_add_ctrl.studentModel.program[1]['programName']" name="programName" class="form-control">
							<option disabled ng-selected="admin_add_ctrl.ngSelect('secondProgram')" value="noneSelected"> - Select 2nd Program - </option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[1]['CNA']" value="CNA">Certified Nurse Assistant</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[1]['HHA']" value="HHA">Home Health Aide</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[1]['SG']" value="SG">Security Guard</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[1]['caregiver']" value="Caregiver">Caregiver</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[1]['ESOL']" value="ESOL">ESOL</option>
						</select>
						<input type="text" ng-model="admin_add_ctrl.studentModel.program[1]['programRotation']" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 2nd Program">
						<input type="text" 
								masked-input
								target-mask="99/99/9999"
								mask-options='{"placeholder": "mm/dd/yyyy"}'
								ng-model="admin_add_ctrl.studentModel.program[1]['programStartDate']" 
								class="form-control" 
								name="programStartDate" 
								placeholder="Enter 2nd Program's Start Date">	
						<input type="text" 
								masked-input
								target-mask="99/99/9999"
								mask-options='{"placeholder": "mm/dd/yyyy"}'
								ng-model="admin_add_ctrl.studentModel.program[1]['programEndDate']" 
								class="form-control" 
								name="programEndDate" 
								placeholder="Enter 2nd Program's End Date">		
					</div>
				</div>
				<div style="display: inline;">
					<div class="col-md-2">
						<select ng-model="admin_add_ctrl.studentModel.program[2]['programName']" name="programName" class="form-control">
							<option disabled ng-selected="admin_add_ctrl.ngSelect('thirdProgram')" value="noneSelected"> - Select 3rd Program - </option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[2]['CNA']" value="CNA">Certified Nurse Assistant</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[2]['HHA']" value="HHA">Home Health Aide</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[2]['SG']" value="SG">Security Guard</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[2]['caregiver']" value="Caregiver">Caregiver</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[2]['ESOL']" value="ESOL">ESOL</option>
						</select>
						<input type="text" ng-model="admin_add_ctrl.studentModel.program[2]['programRotation']" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 3rd Program">
						<input type="text" 
								masked-input
								target-mask="99/99/9999"
								mask-options='{"placeholder": "mm/dd/yyyy"}'
								ng-model="admin_add_ctrl.studentModel.program[2]['programStartDate']" 
								class="form-control" 
								name="programStartDate" 
								placeholder="Enter 3rd Program's Start Date">	
						<input type="text" 
								masked-input
								target-mask="99/99/9999"
								mask-options='{"placeholder": "mm/dd/yyyy"}'
								ng-model="admin_add_ctrl.studentModel.program[2]['programEndDate']" 
								class="form-control" 
								name="programEndDate" 
								placeholder="Enter 3rd Program's End Date">		
					</div>
				</div>			
				<div style="display: inline;">
					<div class="col-md-2">
						<select ng-model="admin_add_ctrl.studentModel.program[3]['programName']" name="programName" class="form-control">
							<option disabled ng-selected="admin_add_ctrl.ngSelect('fourthProgram')" value="noneSelected"> - Select 4th Program - </option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[3]['CNA']" value="CNA">Certified Nurse Assistant</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[3]['HHA']" value="HHA">Home Health Aide</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[3]['SG']" value="SG">Security Guard</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[3]['caregiver']" value="Caregiver">Caregiver</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[3]['ESOL']" value="ESOL">ESOL</option>
						</select>
						<input type="text" ng-model="admin_add_ctrl.studentModel.program[3]['programRotation']" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 4th Program">
						<input type="text" 
								masked-input
								target-mask="99/99/9999"
								mask-options='{"placeholder": "mm/dd/yyyy"}'
								ng-model="admin_add_ctrl.studentModel.program[3]['programStartDate']" 
								class="form-control" 
								name="programStartDate" 
								placeholder="Enter 4th Program's Start Date">	
						<input type="text" 
								masked-input
								target-mask="99/99/9999"
								mask-options='{"placeholder": "mm/dd/yyyy"}'
								ng-model="admin_add_ctrl.studentModel.program[3]['programEndDate']" 
								class="form-control" 
								name="programEndDate" 
								placeholder="Enter 4th Program's End Date">		
					</div>
				</div>			
				<div style="display: inline;">
					<div class="col-md-2">
						<select ng-model="admin_add_ctrl.studentModel.program[4]['programName']" name="programName" class="form-control">
							<option disabled ng-selected="admin_add_ctrl.ngSelect('fifthProgram')" value="noneSelected"> - Select 5th Program - </option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[4]['CNA']" value="CNA">Certified Nurse Assistant</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[4]['HHA']" value="HHA">Home Health Aide</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[4]['SG']" value="SG">Security Guard</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[4]['caregiver']" value="Caregiver">Caregiver</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.programs[4]['ESOL']" value="ESOL">ESOL</option>
						</select>
						<input type="text" ng-model="admin_add_ctrl.studentModel.program[4]['programRotation']" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 4th Program">
						<input type="text" 
								masked-input
								target-mask="99/99/9999"
								mask-options='{"placeholder": "mm/dd/yyyy"}'
								ng-model="admin_add_ctrl.studentModel.program[4]['programStartDate']" 
								class="form-control" 
								name="programStartDate" 
								placeholder="Enter 5th Program's Start Date">	
						<input type="text" 
								masked-input
								target-mask="99/99/9999"
								mask-options='{"placeholder": "mm/dd/yyyy"}'
								ng-model="admin_add_ctrl.studentModel.program[4]['programEndDate']" 
								class="form-control" 
								name="programEndDate" 
								placeholder="Enter 5th Program's End Date">		
					</div>
				</div>
		</div>		
<!-- 		NEW PROGRAM INPUT DIV  -->
	<div>
		<button ng-click="admin_add_ctrl.addProgram()">ADD PROGRAM</button>
		<ul ng-repeat="eachProgram in admin_add_ctrl.studentModel.program">
			<li>{{eachProgram.programName}} {{eachProgram.programRotation}} <!-- could add more views --></li>
		</ul>
	</div>
	<!-- /END OF PROGRAM INPUTS -->
		<div class="form-group row">
			<label class="control-label col-md-3" for="tuition">Tuition:</label>
			<div class="col-md-9">
				<input 	type="number" ng-model="admin_add_ctrl.studentModel.tuition" class="form-control" name="Tuition" placeholder="Enter Student's Tuition">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="tuitionPaid">Payment Status:</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.tuitionPaid" name="tuitionPaid" class="form-control">
					<option disabled ng-selected="admin_add_ctrl.ngSelect('tuitionPaid')" value="noneSelected"> -- Select an Option -- </option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.tuitionPaidTrue" value="true">Paid</option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.tuitionPaidFalse" value="">Did not finish Payment (Please check the payment spreadsheet)</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="graduate">Graduate Status:</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.graduate" name="graduate" class="form-control">
					<option disabled ng-selected="admin_add_ctrl.ngSelect('graduate')" value="noneSelected"> -- Select an Option -- </option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.graduateFalse" value="">Student</option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.graduateTrue" value="true">Alumni</option>
				</select>
			</div>
		</div>
		<div ng-if="admin_add_ctrl.studentModel.graduate === 'true' || admin_add_ctrl.studentModel.graduate === true">
			<div class="form-group row">
				<label class="control-label col-md-3" for="passedExam">Passed State Exam?</label>
				<div class="col-md-9">
					<select ng-model="admin_add_ctrl.studentModel.passedExam" name="passedExam" class="form-control">
						<option disabled ng-selected="admin_add_ctrl.ngSelect('passedExam')" value="noneSelected"> -- Select an Option -- </option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.passedExam" value="true">Passed</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.didNotpassExam" value="">Did not pass</option>
					</select>
				</div>
			</div>
<!-- 			ngif for state exam conditions -->
			<div ng-if="admin_add_ctrl.studentModel.passedExam === 'true' || admin_add_ctrl.studentModel.passedExam === true">
				<div class="form-group row">
					<label class="control-label col-md-3" for="numberOfTries">How Many Tries?</label>
					<div class="col-md-9">
						<select ng-model="admin_add_ctrl.studentModel.numberOfTries" name="numberOfTries" class="form-control">
							<option disabled ng-selected="admin_add_ctrl.ngSelect('numberOfTries')" value="noneSelected"> -- Select an Option -- </option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.firstTry" value="1">1st Try</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.secondTry" value="2">2nd Try</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.thirdTry" value="3">3rd Try</option>
						</select>
					</div>
				</div>				
			</div>
			<div ng-if="admin_add_ctrl.studentModel.passedExam === '' || admin_add_ctrl.studentModel.passedExam === false">
				<div class="form-group row">
					<label class="control-label col-md-3" for="noPassReason">Reason for not passing</label>
					<div class="col-md-9">
						<select ng-model="admin_add_ctrl.studentModel.noPassReason" name="noPassReason" class="form-control">
							<option disabled ng-selected="admin_add_ctrl.ngSelect('noPassReason')" value="noneSelected"> -- Select an Option -- </option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.haveNotTakenExam" value="Have_not_taken_the_exam">Have not taken the exam yet</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.failedTheory" value="Failed_theory">Failed Theory</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.failedSkills" value="Failed_skills">Failed Skills</option>
						</select>
					</div>
				</div>				
			</div>
			<div class="form-group row">
				<label class="control-label col-md-3" for="jobPlaced">Employment Status:</label>
				<div class="col-md-9">
					<select ng-model="admin_add_ctrl.studentModel.jobPlaced" name="jobPlaced" class="form-control">
						<option disabled ng-selected="admin_add_ctrl.ngSelect('jobPlaced')" value="noneSelected"> -- Select an Option -- </option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.employed" value="true">Employed</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.unemployed" value="">Unemployed</option>
					</select>
				</div>	
			</div>	
<!-- 				ng if for employment conditions -->		
			<div ng-if="admin_add_ctrl.studentModel.jobPlaced === 'true' || admin_add_ctrl.studentModel.jobPlaced === true">
				<div class="form-group row">
					<label class="control-label col-md-3" for="payRate">Pay Rate:</label>
					<div class="col-md-9">
						<input type="text" ng-model="admin_add_ctrl.studentModel.payRate" class="form-control" name="payRate" placeholder="Enter Student's Pay Rate">
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3" for="placeOfEmployment">EmloyerName:</label>
					<div class="col-md-9">
						<input type="text" ng-model="admin_add_ctrl.studentModel.placeOfEmployment" class="form-control" name="placeOfEmployment" placeholder="Enter Student's Place of Employment">
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3" for="employmentAddress">Employment Address:</label>
					<div class="col-md-9">
						<input type="text" ng-model="admin_add_ctrl.studentModel.employmentAddress" class="form-control" name="employmentAddress" placeholder="Enter Student's Employment Address">
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-md-3" for="jobPosition">Job Position:</label>
					<div class="col-md-9">
						<input type="text" ng-model="admin_add_ctrl.studentModel.jobPosition" class="form-control" name="jobPosition" placeholder="Enter Student's Job Position">
					</div>
				</div>	
				<div class="form-group row">
					<label class="control-label col-md-3" for="weeklyWorkHours">Full/Part time Position?</label>
					<div class="col-md-9">
						<select ng-model="admin_add_ctrl.studentModel.weeklyWorkHours" name="weeklyWorkHours" class="form-control">
							<option disabled ng-selected="admin_add_ctrl.ngSelect('weeklyWorkHours')" value="noneSelected"> -- Select an Option -- </option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.fullTime" value="fullTimePos">Full Time</option>
							<option ng-selected="admin_add_ctrl.ngSelectOption.partTime" value="partTimePos">Part Time</option>
						</select>
					</div>
				</div>			
			</div>	
			<div ng-if="admin_add_ctrl.studentModel.jobPlaced === '' || admin_add_ctrl.studentModel.jobPlaced === false">
				<div class="form-group row">
					<label class="control-label col-md-3" for="noJobReason">No Job Reason:</label>
					<div class="col-md-9">
						<input type="text" ng-model="admin_add_ctrl.studentModel.noJobReason" class="form-control" name="noJobReason" placeholder="Enter Student's Reason for Unemployment">
					</div>
				</div>				
			</div>	
		</div>
		<div ng-if="admin_add_ctrl.studentModel.graduate === '' || admin_add_ctrl.studentModel.graduate === false">
			<div class="form-group row">
				<label class="control-label col-md-3" for="notGraduatingReason">Reason for not graduating</label>
				<div class="col-md-9">
					<select ng-model="admin_add_ctrl.studentModel.notGraduatingReason" name="notGraduatingReason" class="form-control">
						<option disabled ng-selected="admin_add_ctrl.ngSelect('notGraduatingReason')" value="noneSelected"> -- Select an Option -- </option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.stillInProgram" value="Still_in_program">Still in the program</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.droppedTheProgram" value="Dropped_the_program">Dropped</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.missingClinical" value="Missing_clinical_hours">Did not finish clinical</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.missingTheory" value="Missing_theory_hours">Did not finish theory</option>
						<option ng-selected="admin_add_ctrl.ngSelectOption.didNotFinishPayment" value="Did_not_finish_payment">Did not finish payment</option>
					</select>
				</div>
			</div>			
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="marketingSurvey">How did you hear about us?</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.marketingSurvey" name="marketingSurvey" class="form-control">
					<option disabled ng-selected="admin_add_ctrl.ngSelect('marketingSurvey')" value="noneSelected"> -- select an option -- </option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.chineseInLa" value="Chinese_In_LA">Chinese In LA</option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.worldJournal" value="World_Journal">World Journal</option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.craigslist" value="Craigslist">Craigslist</option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.referredByFriend" value="Referred_By_Friend">Referred by friend</option>
					<option ng-selected="admin_add_ctrl.ngSelectOption.marketingNone" value="None">None of the above</option>
				</select>
			</div>
		</div>
	<!-- /END OF OPTION INPUTS -->
	<hr>
	<!-- buttons for submit and cancel/clear -->
		<div class="text-center">
			<button class="btn" ng-click="admin_add_ctrl.submit()">Submit</button>
			<button class="btn" ng-click="admin_add_ctrl.refresh()">Cancel</button>
			<button class="btn" ng-click="admin_add_ctrl.enterDummyData()">DUMMY DATA</button>

			<button class="btn" ng-click="admin_add_ctrl.googleSync = true">Sync With Google</button>
			<div ng-if="admin_add_ctrl.googleSync">
				<google-signin-btn buttonID="admin_add_ctrl.googleSigninBtnID" options="admin_add_ctrl.googleSigninOptions"></google-signin-btn>
				<!-- next step in the google sync processs -->
				<button ng-if="admin_add_ctrl.turnOnSyncButton" class="btn" ng-click="admin_add_ctrl.letsSyncWitGoogle()">SYNC</button>
			</div>
<!-- 			this button should have the functionaility to load a modal with google auth, and send signal to server 
			for data to be organized in a way to be synced with google -->
			<br>
			<br>
		</div>
	</form>
</div>
	 
