<div id="adminAddForm" ng-controller="adminAddController as admin_add_ctrl">
	<form>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">  Please Enter the Student's Information :</h3>
				<br>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="enrollmentDate">Enrollment Date:</label>
			<div class="col-md-9">
				<input 	type="text" 
						masked-input
						target-mask="99/99/9999"
						mask-options='{"placeholder": "mm/dd/yyyy"}'
						ng-model="admin_add_ctrl.studentModel.enrollmentDate" 
						class="form-control" 
						name="enrollmentDate" 
						placeholder="Enter Student's Enrollment Date">
			
			</div> <!-- JUST NEED TO CONVERT THE STRING INTO DATE OBJECT BEFORE SENDING TO SERVER -->
		</div> 
		<div class="form-group row">
			<label class="control-label col-md-3" for="studentID">Student ID:</label>
			<div class="col-md-9">
				<input 	type="text" 
						masked-input
						target-mask="99-9999aa"
						mask-options='{"placeholder": "R#-ddmmFL"}'
						ng-model="admin_add_ctrl.studentModel.studentID" 
						class="form-control" 
						name="enrollmentDate" 
						placeholder="Enter Student ID">
			
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="name">First Name:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.firstName" class="form-control" name="name" placeholder="Enter Student's First Name">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="name">Last Name:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.lastName" class="form-control" name="name" placeholder="Enter Student's Last Name">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="phoneNumber">Phone Number:</label>
			<div class="col-md-9">
				<input type="text" 
						masked-input 
						target-mask="9999999999" 
						mask-options='{"placeholder": "*"}'
						ng-model="admin_add_ctrl.studentModel.phoneNumber" 
						class="form-control" 
						name="phoneNumber" 
						placeholder="Enter Student's Phone Number">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="ssn">Social Security Number:</label>
			<div class="col-md-9">
				<input type="text" 
						masked-input
						target-mask="999999999"
						mask-options='{"placeholder": "*"}'
						ng-model="admin_add_ctrl.studentModel.ssn" 
						class="form-control" 
						name="ssn" 
						placeholder="Enter Student's SSN">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="address">Address:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.address" class="form-control" name="address" placeholder="Enter Student's address">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="email">email:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.email" class="form-control" name="email" placeholder="Enter Student's email">
			</div>
		</div>
	<!-- /END OF STRING INPUTS -->
		<div class="form-group row">
			<button class="btn" ng-click="admin_add_ctrl.addProgramInput(admin_add_ctrl.programInputCount)">
				Add Program
			</button>
			<button class="btn" ng-click="admin_add_ctrl.clearProgramInput()">
				Clear Add Fields
			</button>
			<label class="control-label col-md-3" for="program">Program:</label>
			<div class="col-md-9" ng-if="admin_add_ctrl.showAddProgramInput1">
				<select ng-model="admin_add_ctrl.studentModel.program[0][programName]" name="programName" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select a Program -- </option>
					<option value="CNA">Certified Nurse Assistant</option>
					<option value="HHA">Home Health Aide</option>
					<option value="SG">Security Guard</option>
					<option value="Caregiver">Caregiver</option>
					<option value="ESOL">ESOL</option>
				</select>
				<input type="text" ng-model="admin_add_ctrl.studentModel.program[0][programRotation]" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 1st Program">	
			</div>
			<div class="col-md-9" ng-if="admin_add_ctrl.showAddProgramInput2">
				<select ng-model="admin_add_ctrl.studentModel.program[1][programName]" name="programName" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select a Program -- </option>
					<option value="CNA">Certified Nurse Assistant</option>
					<option value="HHA">Home Health Aide</option>
					<option value="SG">Security Guard</option>
					<option value="Caregiver">Caregiver</option>
					<option value="ESOL">ESOL</option>
				</select>
				<input type="text" ng-model="admin_add_ctrl.studentModel.program[1][programRotation]" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 2nd Program">
			</div>
			<div class="col-md-9" ng-if="admin_add_ctrl.showAddProgramInput3">
				<select ng-model="admin_add_ctrl.studentModel.program[2][programName]" name="programName" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select a Program -- </option>
					<option value="CNA">Certified Nurse Assistant</option>
					<option value="HHA">Home Health Aide</option>
					<option value="SG">Security Guard</option>
					<option value="Caregiver">Caregiver</option>
					<option value="ESOL">ESOL</option>
				</select>
				<input type="text" ng-model="admin_add_ctrl.studentModel.program[2][programRotation]" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for the 3rd Program">
			</div>
			<div class="col-md-9" ng-if="admin_add_ctrl.showAddProgramInput4">
				<select ng-model="admin_add_ctrl.studentModel.program[3][programName]" name="programName" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select a Program -- </option>
					<option value="CNA">Certified Nurse Assistant</option>
					<option value="HHA">Home Health Aide</option>
					<option value="SG">Security Guard</option>
					<option value="Caregiver">Caregiver</option>
					<option value="ESOL">ESOL</option>
				</select>
				<input type="text" ng-model="admin_add_ctrl.studentModel.program[3][programRotation]" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 4th Program">
			</div>
			<div class="col-md-9" ng-if="admin_add_ctrl.showAddProgramInput5">
				<select ng-model="admin_add_ctrl.studentModel.program[4][programName]" name="programName" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select a Program -- </option>
					<option value="CNA">Certified Nurse Assistant</option>
					<option value="HHA">Home Health Aide</option>
					<option value="SG">Security Guard</option>
					<option value="Caregiver">Caregiver</option>
					<option value="ESOL">ESOL</option>
				</select>
				<input type="text" ng-model="admin_add_ctrl.studentModel.program[4][programRotation]" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 5th Program">
			</div>
		</div>		
	<!-- /END OF PROGRAM INPUTS -->
		<div class="form-group row">
			<label class="control-label col-md-3" for="tuition">Tuition:</label>
			<div class="col-md-9">
				<input 	type="number" ng-model="admin_add_ctrl.studentModel.tuition" class="form-control" name="Tuition" placeholder="Enter Student's Tuition">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="tuitionPaid">Payment Status:</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.tuitionPaid" name="tuitionPaid" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
					<option value="true">Paid</option>
					<option value="">Did not finish Payment (Please check the payment spreadsheet)</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="graduate">Graduate Status:</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.graduate" name="graduate" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
					<option value="">Student</option>
					<option value="true">Alumni</option>
				</select>
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.graduate === ''">
			<label class="control-label col-md-3" for="notGraduatingReason">Reason for not graduating</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.notGraduatingReason" name="notGraduatingReason" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
					<option value="Still_in_program">Still in the program</option>
					<option value="Dropped_the_program">Dropped</option>
					<option value="Missing_clinical_hours">Did not finish clinical</option>
					<option value="Missing_theory_hours">Did not finish theory</option>
					<option value="Did_not_finish_payment">Did not finish payment</option>
				</select>
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.graduate === 'true'">
			<label class="control-label col-md-3" for="passedExam">Passed State Exam?</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.passedExam" name="passedExam" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
					<option value="true">Passed</option>
					<option value="">Did not pass</option>
				</select>
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.passedExam === 'true'">
			<label class="control-label col-md-3" for="numberOfTries">How Many Tries?</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.numberOfTries" name="numberOfTries" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
					<option value="1">1st Try</option>
					<option value="2">2nd Try</option>
					<option value="3">3rd Try</option>
				</select>
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.passedExam === ''">
			<label class="control-label col-md-3" for="noPassReason">Reason for not passing</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.noPassReason" name="noPassReason" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
					<option value="Have_not_taken_the_exam">Have not taken the exam yet</option>
					<option value="Failed_theory">Failed Theory</option>
					<option value="Failed_skills">Failed Skills</option>
				</select>
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.graduate === 'true'"> <!-- THINK ABOUT PUTTING THIS IN A NG IF DEPENDING ON STUDENT GRADUATION STATUS -->
			<label class="control-label col-md-3" for="jobPlaced">Employment Status:</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.jobPlaced" name="jobPlaced" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
					<option value="true">Employed</option>
					<option value="">Unemployed</option>
				</select>
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.jobPlaced === 'true'">
			<label class="control-label col-md-3" for="payRate">Pay Rate:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.payRate" class="form-control" name="payRate" placeholder="Enter Student's Pay Rate">
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.jobPlaced === 'true'">
			<label class="control-label col-md-3" for="jobDescription">Job Description:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.jobDescription" class="form-control" name="jobDescription" placeholder="Enter Student's Job Description">
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.jobPlaced === ''">
			<label class="control-label col-md-3" for="noJobReason">No Job Reason:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.studentModel.noJobReason" class="form-control" name="noJobReason" placeholder="Enter Student's Reason for Unemployment">
			</div>
		</div>
		<div class="form-group row" ng-if="admin_add_ctrl.jobPlaced === 'true'">
			<label class="control-label col-md-3" for="weeklyWorkHours">Full/Part time Position?</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.weeklyWorkHours" name="weeklyWorkHours" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- Select an Option -- </option>
					<option value="fullTimePos">Full Time</option>
					<option value="partTimePos">Part Time</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="marketingSurvey">How did you hear about us?</label>
			<div class="col-md-9">
				<select ng-model="admin_add_ctrl.studentModel.marketingSurvey" name="marketingSurvey" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> -- select an option -- </option>
					<option value="Chinese_In_LA">Chinese In LA</option>
					<option value="World_Journal">World Journal</option>
					<option value="Craigslist">Craigslist</option>
					<option value="Referred_By_Friend">Referred by friend</option>
					<option value="None">None of the above</option>
				</select>
			</div>
		</div>
<!-- 		<div style="display: inline;">
			<div class="col-md-1">
				<select ng-model="admin_add_ctrl.FirstprogramName" name="programName" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> - Select a Program - </option>
					<option value="CNA">Certified Nurse Assistant</option>
					<option value="HHA">Home Health Aide</option>
					<option value="SG">Security Guard</option>
					<option value="Caregiver">Caregiver</option>
					<option value="ESOL">ESOL</option>
				</select>
				<input type="text" ng-model="admin_add_ctrl.FirstprogramRotation" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 1st Program">	
			</div>
		</div>
		<div style="display: inline;">
			<div class="col-md-1">
				<select ng-model="admin_add_ctrl.FirstprogramName" name="programName" class="form-control">
					<option disabled ng-selected="true" value="noneSelected"> - Select a Program - </option>
					<option value="CNA">Certified Nurse Assistant</option>
					<option value="HHA">Home Health Aide</option>
					<option value="SG">Security Guard</option>
					<option value="Caregiver">Caregiver</option>
					<option value="ESOL">ESOL</option>
				</select>
				<input type="text" ng-model="admin_add_ctrl.FirstprogramRotation" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 1st Program">	
			</div>
		</div> -->
	<!-- /END OF OPTION INPUTS -->
	<hr>
	<!-- buttons for submit and cancel/clear -->
		<div class="text-center">
			<button class="btn" ng-click="admin_add_ctrl.submit()">Submit</button>
			<button class="btn" ng-click="admin_add_ctrl.refresh()">Cancel</button>

			<button class="btn" ng-click="admin_add_ctrl.googleSync = true">Sync With Google</button>
			<div ng-if="admin_add_ctrl.googleSync">
				<google-signin-btn buttonID="admin_add_ctrl.googleSigninBtnID" options="admin_add_ctrl.googleSigninOptions"></google-signin-btn>
				<!-- next step in the google sync processs -->
			</div>
<!-- 			this button should have the functionaility to load a modal with google auth, and send signal to server 
			for data to be organized in a way to be synced with google -->
			<br>
			<br>
		</div>
	</form>
</div>
	
