<!--
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <h3>Hello World from Sign Up Modal</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="signUpModalInstanceCtrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="signUpModalInstanceCtrl.cancel()">Cancel</button>
</div>

-->



    <!-- attributs inside form tag below that have been removed for development: <action="" method="POST"> 
    We need to include those tags in order to complete the register form-->
        <form class="form-horizontal">
	          	<div class="modal-header">
	              	<h3 class="modal-title" id="modal-title"><span class="fa fa-sign-in"> New User Registration</h3><br>
	              	<div class="alert alert-danger" ng-if="signUpModalInstanceCtrl.showErrorMessage" ng-repeat="message in signUpModalInstanceCtrl.messages track by $index">
  						{{message}}
					</div>
	            </div>
	            <div class="modal-body" id="modal-body">

		            <div class="form-group">
		              	<label class="control-label col-sm-2" for="email">E-mail:</label>
		              	<div class="col-sm-10">
		                	<input type="email" class="form-control" id="email" name="email" placeholder="Please provide your E-mail"
		                	ng-model="signUpModalInstanceCtrl.email">
		              	</div>
		            </div>

		            <div class="form-group">
		              	<label class="control-label col-sm-2" for="password">Password:</label>
		              	<div class="col-sm-10">
		                	<input type="password" class="form-control" id="password" name="password" placeholder="Password should be at least 6 characters"
		                	ng-model="signUpModalInstanceCtrl.password">
		              	</div>
		            </div>

		            <div class="form-group">
		              	<label class="control-label col-sm-2" for="password_confirm">Password (Confirm):</label>
		              	<div class="col-sm-10">
		                	<input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Please confirm password"
		                	ng-model="signUpModalInstanceCtrl.confirmPassword">
		              	</div>
		            </div>
	         	</div>
	        <div class="modal-footer">
		        <div class="form-group">
		        <!-- Button -->
		       		<div class="col-sm-offset-2 col-sm-10">
		            	<button class="btn btn-default" ng-click="signUpModalInstanceCtrl.ok()">Register</button>
		        	</div>
		        </div>
		    </div>
        </form>
    
