<div lang="zh-Hant" class="col-md-8">
	<h1 class="text-center" style="color: Orange"><strong>40小时家庭医疗助理课程</strong></h1>
		<h2 class="text-center" style="color: Gray">改善你的就業選擇</h2>
			<h3 class="text-center" style="color: blue">更靈活</h3><br>
			<h3 class="text-center" style="color: yellow">更有資格</h3><br>
			<h3 class="text-center" style="color: purple">更好的薪酬</h3><br>
			<h3 class="text-center" style="color: green">課程中26小時可以算為再教育學分</h3><br>
			<h3 class="text-center" style="color: gray">加州卫生部颁发证书</h3><br>
</div>


