<div class="row" ng-controller="adminSearchController as admin_search_ctrl">
	<div class="col-md-6">
		<h3 class="text-center">  Search By:</h3>
		<br>
		<form class="text-center">
			<input type="text" ng-model="admin_search_ctrl.searchInput">
			<select ng-model="admin_search_ctrl.searchParameter">
				<option ng-value="name">Name</option>
				<option ng-value="email">email</option>
				<option ng-value="phone_number">Phone number</option>
			</select>
			<input type="submit" value="Submit" ng-click="admin_search_ctrl.submit()">
		</form>
	</div>
	<div class="col-md-6" ng-if="admin_search_ctrl.message">
		{{ admin_search_ctrl.message }}
	</div>
	<div class="col-md-6" ng-if="admin_search_ctrl.data">
		<div>
			Student name: {{ admin_search_ctrl.data.name }}
		</div>
		<div>
			Student phone number: {{ admin_search_ctrl.data.phoneNumber }}
		</div>
		<div>
			Student email: {{ admin_search_ctrl.data.email }}
		</div>
		<div>
			Student program: {{ admin_search_ctrl.data.program }}
		</div>
		<div>
			Student graduate: {{ admin_search_ctrl.data.graduate }}
		</div>
		<div>
			Student job Placed: {{ admin_search_ctrl.data.jobPlaced }}
		</div>
		<div>
			Student address: {{ admin_search_ctrl.data.address }}
		</div>
		<div>
			Student Reason for Unemployment: {{ admin_search_ctrl.data.noJobReason }}
		</div>
		<div>
			Student part time pos: {{ admin_search_ctrl.data.partTimePos }}
		</div>
		<div>	
			Student full time pos: {{ admin_search_ctrl.data.fullTimePos }}
		</div>
		<div>
			Student job description: {{ admin_search_ctrl.data.jobDescription }}
		</div>
		<div>
			Student passed exam: {{ admin_search_ctrl.data.passedExam }}
		</div>
		<div>
			Student pay rate: {{ admin_search_ctrl.data.payRate }}
		</div>
		<div>
			Student social security number: {{ admin_search_ctrl.data.ssn }}
		</div>
		<div>
			Student job tuition paid: {{ admin_search_ctrl.data.tuitionPaid }}
		</div>
	</div>
</div>