<div id="adminAddForm" ng-controller="adminAddController as admin_add_ctrl">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">  Please Enter the Student's Information :</h3>
			<br>
		</div>
	</div>
	<div class="container-fluid">
		<div class="form-group row">
			<label class="control-label col-md-3" for="name">First Name:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.firstName" class="form-control" name="name" placeholder="Enter Student's First Name">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="name">Last Name:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.lastName" class="form-control" name="name" placeholder="Enter Student's Last Name">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="phoneNumber">Phone Number:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.phoneNumber" class="form-control" name="phoneNumber" placeholder="Enter Student's Phone Number">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="ssn">Social Security Number:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.ssn" class="form-control" name="ssn" placeholder="Enter Student's SSN">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="address">Address:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.address" class="form-control" name="address" placeholder="Enter Student's address">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="email">email:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.email" class="form-control" name="email" placeholder="Enter Student's email">
			</div>
		</div>
		<div class="form-group row">
			<button class="btn" ng-click="admin_add_ctrl.showAddProgramInput1 = true">Add 1st Program</button>
			<button class="btn" ng-click="admin_add_ctrl.showAddProgramInput2 = true">Add 2nd Program</button>
			<button class="btn" ng-click="admin_add_ctrl.showAddProgramInput3 = true">Add 3rd Program</button>
			<button class="btn" ng-click="admin_add_ctrl.showAddProgramInput4 = true">Add 4th Program</button>
			<button class="btn" ng-click="admin_add_ctrl.showAddProgramInput5 = true">Add 5th Program</button>
			<label class="control-label col-md-1" for="program">Program:</label>
			<div class="col-md-11" ng-if="admin_add_ctrl.showAddProgramInput1">
				<input type="text" ng-model="admin_add_ctrl.FirstprogramName" class="form-control" name="programName" placeholder="Enter Student's 1st Program Name">
				<input type="text" ng-model="admin_add_ctrl.FirstprogramRotation" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 1st Program">
			</div>
			<div class="col-md-11" ng-if="admin_add_ctrl.showAddProgramInput2">
				<input type="text" ng-model="admin_add_ctrl.SecondprogramName" class="form-control" name="programName" placeholder="Enter Student's 2nd Program Name">
				<input type="text" ng-model="admin_add_ctrl.SecondprogramRotation" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 2nd Program">
			</div>
			<div class="col-md-11" ng-if="admin_add_ctrl.showAddProgramInput3">
				<input type="text" ng-model="admin_add_ctrl.ThirdprogramName" class="form-control" name="programName" placeholder="Enter Student's 3rd Program Name">
				<input type="text" ng-model="admin_add_ctrl.ThirdprogramRotation" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for the 3rd Program">
			</div>
			<div class="col-md-11" ng-if="admin_add_ctrl.showAddProgramInput4">
				<input type="text" ng-model="admin_add_ctrl.ForthprogramName" class="form-control" name="programName" placeholder="Enter Student's 4th Program Name">
				<input type="text" ng-model="admin_add_ctrl.ForthprogramRotation" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 4th Program">
			</div>
			<div class="col-md-11" ng-if="admin_add_ctrl.showAddProgramInput5">
				<input type="text" ng-model="admin_add_ctrl.FifthprogramName" class="form-control" name="programName" placeholder="Enter Student's 5th Program Name">
				<input type="text" ng-model="admin_add_ctrl.FifthprogramRotation" class="form-control" name="programRotation" placeholder="Enter the Rotation Number for 5th Program">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="payRate">Pay Rate:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.payRate" class="form-control" name="payRate" placeholder="Enter Student's Pay Rate">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="jobDescription">Job Description:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.jobDescription" class="form-control" name="jobDescription" placeholder="Enter Student's Job Description">
			</div>
		</div>
		<div class="form-group row">
			<label class="control-label col-md-3" for="noJobReason">No Job Reason:</label>
			<div class="col-md-9">
				<input type="text" ng-model="admin_add_ctrl.noJobReason" class="form-control" name="noJobReason" placeholder="Enter Student's Reason for Unemployment">
			</div>
		</div>
		<div class="form-group row text-center">Graduate:
			<label class="custom-control custom-radio" for="graduate">
				Yes<input type="radio" ng-model="admin_add_ctrl.graduate" class="form-control" name="graduate" value="true">
			</label>
			<label class="custom-control custom-radio">
				No<input type="radio" ng-model="admin_add_ctrl.graduate" class="form-control" name="graduate" value="">
			</label>
		</div>
		<div class="form-group row text-center">Tuition Paid:
			<label class="custom-control custom-radio" for="tuitionPaid">
				Yes<input type="radio" ng-model="admin_add_ctrl.tuitionPaid" class="form-control" name="tuitionPaid" value="true">
			</label>
			<label class="custom-control custom-radio" for="tuitionPaid">
				No<input type="radio" ng-model="admin_add_ctrl.tuitionPaid" class="form-control" name="tuitionPaid" value="">
			</label>
		</div>
		<div class="form-group row text-center">Job Placed:
			<label class="custom-control custom-radio" for="jobPlaced">
				Yes<input type="radio" ng-model="admin_add_ctrl.jobPlaced" class="form-control" name="jobPlaced" value="true">
			</label>
			<label class="custom-control custom-radio" for="jobPlaced">
				No<input type="radio" ng-model="admin_add_ctrl.jobPlaced" class="form-control" name="jobPlaced" value="">
			</label>
		</div>
		<div class="form-group row text-center">Full Time:
			<label class="custom-control custom-radio" for="fullTimePos">
				Yes<input type="radio" ng-model="admin_add_ctrl.fullTimePos" class="form-control" name="fullTimePos" value="true">
			</label>
			<label class="custom-control custom-radio" for="fullTimePos">
				No<input type="radio" ng-model="admin_add_ctrl.fullTimePos" class="form-control" name="fullTimePos" value="">
			</label>
		</div>
		<div class="form-group row text-center">Part Time:
			<label class="custom-control custom-radio"" for="partTimePos">
				Yes<input type="radio" ng-model="admin_add_ctrl.partTimePos" class="form-control" name="partTimePos" value="true">
			</label>
			<label class="custom-control custom-radio"" for="partTimePos">
				No<input type="radio" ng-model="admin_add_ctrl.partTimePos" class="form-control" name="partTimePos" value="">
			</label>
		</div>
		<div class="form-group row text-center">Passed Exam:
			<label class="custom-control custom-radio"" for="passedExam">
				Yes<input type="radio" ng-model="admin_add_ctrl.passedExam" class="form-control" name="passedExam" value="true">
			</label>
			<label class="custom-control custom-radio"" for="passedExam">
				No<input type="radio" ng-model="admin_add_ctrl.partTimePos" class="form-control" name="passedExam" value="">
			</label>
		</div>
		<div class="form-group row text-center">Passed Exam On 1st Try:
			<label class="custom-control custom-radio" for="passedOn1st">
				Yes<input type="radio" ng-model="admin_add_ctrl.passedOn1st" class="form-control" name="passedOn1st" value="true">
			</label>
			<label class="custom-control custom-radio" for="passedOn1st">
				No<input type="radio" ng-model="admin_add_ctrl.passedOn1st" class="form-control" name="passedOn1st" value="">
			</label>
		</div>
		<div class="form-group row text-center">Passed Exam On 2nd Try:
			<label class="custom-control custom-radio" for="passedOn2nd">
				Yes<input type="radio" ng-model="admin_add_ctrl.passedOn2nd" class="form-control" name="passedOn2nd" value="true">
			</label>	
			<label class="custom-control custom-radio" for="passedOn2nd">
				No<input type="radio" ng-model="admin_add_ctrl.passedOn2nd" class="form-control" name="passedOn2nd" value="">
			</label>
		</div>
		<div class="form-group row text-center">Passed Exam On 3rd Try:
			<label class="custom-control custom-radio" for="passedOn3rd">
				Yes<input type="radio" ng-model="admin_add_ctrl.passedOn3rd" class="form-control" name="passedOn3rd" value="true">
			</label>
			<label class="custom-control custom-radio" for="passedOn3rd">
				No<input type="radio" ng-model="admin_add_ctrl.passedOn3rd" class="form-control" name="passedOn3rd" value="">
			</label>
		</div>
		<div class="form-group row text-center">
			<label class="control-label col-md-3" for="marketingSurvey">How did you hear about us?</label>
			<select class="col-md-9" ng-model="admin_add_ctrl.marketingSurvey" name="marketingSurvey">
				<option disabled ng-selected="true" ng-value=""> -- select an option -- </option>
				<option ng-value="Chinese_In_LA">Chinese In LA</option>
				<option ng-value="World_Journal">World Journal</option>
				<option ng-value="Craigslist">Craigslist</option>
				<option ng-value="Referred_By_Friend">Referred by friend</option>
				<option ng-value="None">None of the above</option>
			</select>
		</div>
	</div>
	<hr>
	<div class="text-center">
		<button class="btn" ng-click="admin_add_ctrl.submit()">Submit</button>
		<br>
		<br>
	</div>
</div>