#mainWrapperForAdmin{
	top: 284px;
	position: relative;
	z-index: 2;
	width: 100%;
	background-color: white;
	overflow-x: hidden; /* THIS MADE THE HORIZONTAL PROBLEM GO AWAY, 
	BUT HIDES CERTAIN THE CPR PICTURE CONTENT AND ABOUT US BUTTON, 
	NEED ANOTHER SOLUTION FOR THE OVER FLOWN ELEMENTS */
}