<div>
	<h1 class="text-center" style="color: Orange"><strong>Nurse Assistant Program</strong></h1>
		<h2 class="text-center" style="color: Gray">Be a Certified Nurse Assistant after completion of the program and passing the state exam</h2>
			<ul>
				<li>High School Diploma/GED required</li>
				<li>Evening class with weekend clinic</li>
				<li>Day class with weekday clinic</li>
				<li>Reasonable tuition</li>
				<li>Easy payment plan</li>
			</ul>
		<h2 class="text-center">Earn Stable Salary + Good Benefits in a growing industry.</h2>
		<h3 class="text-center"><em>CLINICAL PRACTICE</em></h3>
		<img src="http://i57.tinypic.com/246nckk.jpg">
</div>