<footer ng-controller="footerController as footerctrl">
	<div class="footer-distributed container-fluid" id="footer">
		<div class="row" id="promoEmailSection">
			<p>SIGN UP FOR OUR EXCLUSIVE OFFERS</p>
			<div class="form-group promoEmailform">
				<div class="input-group">
					<input type="text" name="promoEmail" class="form-control" id="promoEmailInput" placeholder="Enter your E-mail address" ng-model="footerctrl.promoEmailInput">
					<span class="input-group-btn">
						<button class="btn btn-default" id="promoInputBtn" type="button" ng-click="footerctrl.submit()">
							<i class="fa fa-plus-square-o" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="footer-left row">
			<h3>Company<span>logo</span></h3>
			<p class="footer-links">
				<a href="">Home</a>
				·
				<a href="">Class Schedule</a>
				·
				<a href="">Legal</a>
				·
				<a href="">Terms and Privacy</a>
				·
				<a href="">About</a>
			</p>
			<p class="footer-company-name">ST Institute, Inc &copy; 2017</p>
		</div>
		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>2209 San Gabriel Blvd Suite C</span> Rosemead, CA 91770</p>
			</div>
			<div>
				<i class="fa fa-phone"></i>
				<p>(626) 572-7231</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p>selecttherapyinstitute@gmail.com</p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>About the company</span>
				Coming Soon.
			</p>
			<div class="footer-icons">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
				<a href=""><i class="fa fa-linkedin"></i></a>
				<a href=""><i class="fa fa-github"></i></a>
			</div>
		</div>
	</div>
</footer>
