<div>
	<h1 class="text-center" style="color: Orange"><strong>ENGLISH FOR SPEAKERS OF OTHER LANGUAGES</strong></h1>
		<h2 class="text-center" style="color: Gray">We provide Intensive English Programs and Test Preparation Programs</h2><br>
		<h2 class="text-center" style="color: Gray">Higher chance of being hired because you are bilingual and higher pay increase (most jobs)</h2><br>
		<h2 class="text-center" style="color: Gray">REASONABLE-TUITION</h2><br>
		<h2 class="text-center" style="color: Gray">EASY PAYMENT PLAN</h2><br>
		<h2 class="text-center" style="color: Gray">For information please call (626)-572-7231</h2><br>
</div>