<div class="col-md-8">
	<h2 class="text-center">Current Offer</h2>
		<p> CNA day class is enrolling now and will start on September 27th. For more information, please call 626-572-7231,9am-5pm on Monday-Thursday and 9am-4pm on Friday. We welcome all prospective students to come and check out our upcoming class, and the services we offer. CNA Classes are only 8 weeks long. Free job placement after passing State Exam. Not many seats left! Sign up as soon as possible.
		</p>
	<h2 class="text-center">Student Reviews</h2>
 		<p>
		For student reviews, please visit <a href="http://www.chineseinla.com/company/task_view/id_20345.html">Chinese In LA Review</a>
 		</p>
 	<h2 class="text-center">Financial Assistance</h2>
 		<p>
		Please call (626)572-7231 for more information.
		Students aged between 18-24 might be eligible for financial assistance. Please contact the admissions office.
		</p>
</div>