<div lang="zh-Hant" class="col-md-8" ng-controller="AboutCtrl">
	<h1 class="text-center" style="color: Orange"><strong>關於我們</strong></h1>
	<img class="img-responsive" style="margin:0px auto;display:block" src="http://www.st-inst.com/images/logo.jpg">
		<h2 class="text-center" style="color: Gray">我們的學校被授權於:</h2>
			<h4 class="text-center"><a href="http://www.bppe.ca.gov/">加州教育部</a></h4>
			<h4 class="text-center"><a href="https://app.dca.ca.gov/bppe/view-school.asp?schlcode=27091740">加州教育部已批項目</a></h4>		
		<h2 class="text-center" style="color: Gray">授權於:</h2>
			<h4 class="text-center"><a href="http://www.cdph.ca.gov/Pages/DEFAULT.aspx">加州衛生部</a></h4>
			<h4 class="text-center"><a href="http://www.heart.org/HEARTORG/">美國心臟協會</a></h4>
			<h4 class="text-center"><a href="http://www.dca.ca.gov/">加州消費者事務部</a></h4>
			<h4 class="text-center"><a href="https://wioa.i-train.org/">授權於 I-train</a></h4>
		<h2 class="text-center" style="color: Gray">年度報告</h2>
		<!-- the following can be placed in an modal service -->
		<h4><em>**下載以下文件請關掉您的 ADBLOCK**</em></h4>
		<!-- This sends is linked with ng click with this particular path after app/About as a parameter -->
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/School_Catalog/')">學校目錄</button></h4>
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/CNA_FactSheet/')">護士助理宣傳冊</button></h4>
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/HHA_FactSheet/')">高端家庭護理宣傳冊</button></h4>
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/SG_FactSheet/')">警衛保安宣傳冊</button></h4>
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/ESL_FactSheet/')">英語晉級班宣傳冊</button></h4>
			<!-- Last button does not work, the PDF wont load need to be fixed!! -->
			<h4 class="text-center"><button type="button" class="btn" ng-click="openPDF('/Annual_Report/')">年度報告</button></h4>
</div>